
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" *ngFor="let index of keys">{{ index }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let info of elementos">
            <td scope="row">{{ info.id }}</td>
            <th scope="row">{{ info.email || info.nombre }}</th>
            <td scope="row">{{ info.username || info.price }}</td>
            <td scope="row">{{ info.userType || info.foto }}</td>
            <td scope="row">{{ info.activate || info.id}}</td>
            <td scope="row">Actualizar | Eliminar</td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
    </select>
</div>