<div class="row">
    <app-controles></app-controles>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" *ngFor="let index of keys">{{ index }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let info of elementos">
            <td scope="row">{{ info.id }}</td>
            <th scope="row">{{ info.email || info.nombre }}</th>
            <td scope="row">{{ info.username || info.price }}</td>
            <td scope="row">
                    <img *ngIf="info.foto" [src]="info.foto" class="mr-2" style="width: 60px">
                {{ info.userType }}
            </td>
            <td scope="row">{{ info.activate || info.desc }}</td>
            <td scope="row">
                <button class="btn btn-danger" (click)="eliminarData(info._id)">Eliminar</button>
                <button class="btn btn-warning">Actualizar</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="pagination.collectionSize" [(page)]="pagination.page" [pageSize]="pagination.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pagination.pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
    </select>
</div>