<form [formGroup]="checkoutForm" (ngSubmit)="addPersonaje(checkoutForm.value)">
    <div class="form-group">
        <label for="exampleInputEmail1">Personaje</label>
        <input name="personaje" type="text" class="form-control" id="" formControlName="personaje"
            placeholder="Nombre de Personaje">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Descripsion</label>
        <input name="desc" type="text" class="form-control" id="" formControlName="descripcion"
            placeholder="Descripsion">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" name="button" class="btn btn-primary" (click)="triggerModal">Actualizar</button>
</form>

<app-modal [modal]="modal"></app-modal>